<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiUrl</key>
	<dict>
		<key>apiHost</key>
		<string>https://api.nasa.gov</string>
		<key>apiPath</key>
		<string>/mars-photos/api/v1/rovers/{roverName}/photos?</string>
		<key>apiParameters</key>
		<string>earth_date={earthDate}&amp;api_key=</string>
		<key>apiKey</key>
		<string>DEMO_KEY</string>
	</dict>
</dict>
</plist>
